@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,200;1,300;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}

/* header*/
header {
    background-color: #008A70;
    padding: 15px;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    font-family: 'Bangers', cursive;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 260%;
}

#menu {
    list-style-type: none;
    letter-spacing: 3px;
    font-size: 110%;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

/* nav bar for toggle*/
nav {
    position: absolute;
    background-color: #008A70;
    width: 100%;
    left: 0;
    padding: 20px;
    display: none;
    top: 100%;
    text-align: center;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 30px;
    padding-right: 10px;
}

/* main content */
main {
    flex: 1 0 auto;
    margin-top: 72px;
    
    background-color: #96D8C5;
    display: flex;
    flex-direction: column;
}

#hero {
    background: url("../images/hero.png") no-repeat center center/cover;
    width: 100%;
    height: 400px;
}

#hero-text {
    font-family: 'Bangers', cursive;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 350px;
    font-size: 180%;
    background-color: rgba(129, 80, 45, .7);
    padding: 5px;
}

#main h3 {
    text-align: center;
}


#benefits-tots {
    background-color: #FFCC7C;
}

#benefits-you {
    background-color: #74B3EC;
}

#rules {
    background-color: #FFCC7C;
}

#meet {
    background-color: #74B3EC
}

/*footer*/
footer {
    background-color: #008A70;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    letter-spacing: 1px;
    padding: 5px;
}

#mail-heading {
    padding: 6px;
    letter-spacing: 2px;
}

#mailing-form {
    font-size: 85%;
}

#mailing-form input {
    margin: 5px;
}

#subscribe {
    padding: 5px;
    letter-spacing: 2px;
}

#social {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 10px 5px;
    justify-content: flex-end;
}

#social i {
    font-size: 200%;
    padding: 10px;
    color: white;
}

/* media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* header*/
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

    }

    #logo {
        font-size: 300%;

    }

    nav {
        display: block;
        position: relative;
        width: fit-content;

    }

    #menu {
        display: flex;
    }

    #menu>li {
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 100%;
        margin-bottom: 0;
    }

    .nav-toggle-label {
        display: none;
    }

    /* main content */
    main {
        margin-top: 140px;
    }
    /*footer*/
    footer {
        justify-content: space-between;
    }

    #mailing-form {
        display: flex;
        align-items: center;
        margin-left: 2rem;
        font-size: 100%;
    }

    #mailing-form h4 {
        padding-right: 40px;
    }

    #mailing-form label {
        margin-left: 20px;
    }

    #social {
        font-size: 120%;
        padding: 2px 10px;
    }

}


/* media query: tablets and larger (992px and up) */
@media screen and (min-width: 992px) {

    #logo {
        font-size: 400%;

    }

    #menu>li {
        margin-left: 7rem;
        margin-right: 7rem;
        font-size: 120%;
    }

}