@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,200;1,300;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    background-color: #008A70;
}

.no-display {
    display: none;
}

/* header*/
header {
    background-color: #008A70;
    padding-left: 10px;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    font-family: 'Bangers', cursive;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 230%;
    padding-right: 25px;
    padding-bottom: 1px;
}

#menu {
    list-style-type: none;
    letter-spacing: 3px;
    font-size: 90%;
}

#menu>li {
    margin-bottom: 5px;
}

.active {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

/* nav bar for toggle*/
nav {
    position: absolute;
    background-color: #008A70;
    width: 100%;
    left: 0;
    padding: 11px 0px;
    display: none;
    top: 100%;
    text-align: center;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 30px;
    padding-right: 22px;
}

/* general styles of main content */
main {
    flex: 1 0 auto;
    margin-top: 62px;
    background-color: white;
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
}

main img {
    width: 100%;
}

main i {
    padding: 2px;
}

section li {
    list-style-type: square;
}

/*general form*/

#submit2,
#subscribe {
    background-color: #FF794B;
    border-radius: 6px;
    font-size: 15px;
    color: white;
    padding: 10px;
    text-align: center;
    letter-spacing: 1px;
    border: 1px solid black;
}

/*hero styles*/
.hero {
    background: url("../images/hero.png") no-repeat center center/cover;
    width: 100%;
    min-height: 500px;
    position: relative;
    height: auto;
}

#hero-text {
    font-family: 'Bangers', cursive;
    letter-spacing: 4px;
    text-align: center;
    font-size: 160%;
    background-color: rgba(129, 80, 45, .7);
    padding: 5px;
    position: absolute;
    bottom: 5px;
    right: 20px;
}

/*main content*/

main h3 {
    text-align: center;
}

.yellow {
    background-color: #FFCC7C;

}

.blue {
    background-color: #74B3EC;
}

.orange {
    background-color: #FF794B;
}

#tag-line {
    padding: 10px 40px;
    text-align: center;
    font-size: 110%;
}

#scooter-icon {
    height: auto;
    width: 200px;
    display: flex;
    justify-content: flex-start;
}

.box {
    padding: 25px 25px 10px;
}

section li {
    margin-bottom: 1rem;
    margin-left: 2rem;
}

/*meet us page*/

#meet {
    position: relative;
    display: flex;
    justify-content: center;
    height: fit-content;
}

.meet-img {
    border-radius: 50%;
    max-width: 80%;
    margin: 15px;
    padding-top: 5px;
}

#meet-text {
    background-color: #FF794B;
    padding: 10px 20px;
    text-align: center;
}

iframe {
    width: 400px;
    height: 300px;
    border: 0;
    margin: 10px;
}

.map {
    display: flex;
    align-self: center;
    justify-content: center;
}

.meet-heading {
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    text-align: center;
    font-size: 120%;
}

#monday {
    border-bottom: 5px solid #FFCC7C;
    border-top: 5px solid #FFCC7C;
    width: 190px;
    padding-left: 22px;
    padding-right: 22px;
    text-align: center;
    letter-spacing: 3px;
}

#wednesday {
    border-bottom: 5px solid #74B3EC;
    border-top: 5px solid #74B3EC;
    width: 190px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    letter-spacing: 3px;
}

#location-box {
    color: black;
}

.meet-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px;
    flex: 2 0 auto;
}

/* contact page */

#contact-page {
    color: #74B3EC;
    border: 30px solid #FFCC7C;
    padding: 15px;
}

#contact-heading {
    text-align: center;
    font-weight: bold;
}

#open-letter {
    width: 70%;

}

.flex-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#contact-form {
    font-size: 120%;
}

#contact-form label {
    font-weight: 600;
}

select {
    font-size: 16px;
    letter-spacing: 1px;
}

#name,
#email2,
select,
textarea {
    width: 100%;
    padding: 4px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 15px;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
}

textarea {
    width: 100%;
    height: 60px;
    font-size: 15px;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 1px;
}

/* general footer styles*/
footer {
    background-color: #008A70;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    letter-spacing: 1px;
    padding: 5px;
}

/*footer form */
#mail-heading {
    padding: 6px;
    letter-spacing: 2px;
}

#mailing-form {
    font-size: 85%;
}

#mailing-form input {
    margin: 5px;
}

#subscribe {
    padding: 5px;
}

/*footer social media */
#social {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 10px 5px;
    justify-content: flex-end;
}

#social i {
    font-size: 200%;
    padding: 10px;
    color: white;
}

/* media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* header*/
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        max-height: 180px;
    }

    #logo {
        font-size: 300%;
    }

    nav {
        display: block;
        position: relative;
        width: fit-content;
    }

    #menu {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    #menu li {
        margin-bottom: 10px;
        margin-left: 3rem;
        margin-right: 3rem;
        font-size: 120%;
    }

    .nav-toggle-label {
        display: none;
    }

    /* main content */
    main {
        margin-top: 140px;
    }

    #hero-text {
        font-size: 190%;
    }

    #tag-line {
        font-size: 120%;
    }

    #scooter-icon {
        width: 300px;
        padding-left: 20px;
    }

    .flex-start {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 15px;
        font-size: 110%;
    }

    .flex-end {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 15px;
        font-size: 110%;
        flex-direction: row-reverse;
    }

    .box {
        max-width: 300px;
        margin: 0.7rem;
    }

    #worries {
        text-align: right;
    }

    main img {
        border-radius: 10px;
    }

    /*meet us page*/
    .meet-img {
        max-width: 60%;
        margin: 20px 0px;
    }

    #meet-text h3 {
        font-size: 150%;
    }

    #meet-text p {
        font-size: 110%;
    }

    .meet-heading {
        font-size: 130%;
        padding: 35px;
        letter-spacing: 3px;
    }

    #monday {
        border-bottom: 8px solid #FFCC7C;
        border-top: 8px solid #FFCC7C;
        width: 390px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 120%;
    }

    #wednesday {
        border-bottom: 8px solid #74B3EC;
        border-top: 8px solid #74B3EC;
        width: 390px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 120%;
    }

    iframe {
        width: 650px;
        height: 450px;
    }


    /* contact page */

    #contact-heading {
        font-size: 200%;
        padding-bottom: 10px;
    }

    #contact-page {
        border: 90px solid #FFCC7C;
        padding: 25px;
    }

    #open-letter {
        width: 70%;
    }

    #contact-form {
        font-size: 120%;
    }

    #name,
    #email2,
    select,
    textarea {
        padding: 10px;
        border: 2px solid black;
        margin-bottom: 15px;
        font-size: 15px;
    }

    textarea {
        height: 100px;
        font-size: 15px;
    }


    /*footer*/
    footer {
        justify-content: space-between;
    }

    #mailing-form {
        display: flex;
        align-items: center;
        margin-left: 2rem;
        font-size: 100%;
    }

    #mailing-form h4 {
        padding-right: 40px;
    }

    #mailing-form label {
        margin-left: 20px;
    }

    #mail-heading {
        text-align: center;
    }

    #social {
        font-size: 120%;
        padding: 2px 10px;
    }


    #submit2 {
        font-size: 17px;
        padding: 12px;
        letter-spacing: 1px;
        border: 2px solid black;
    }

}



/* media query: tablets and larger (992px and up) */
@media screen and (min-width: 992px) {

    /*header*/
    #logo {
        font-size: 400%;
    }

    #menu li {
        margin-left: 7rem;
        margin-right: 7rem;
        font-size: 130%;
    }

    /*main*/
    .hero {
        height: 700px;
    }

    #hero-text {
        font-size: 250%;
    }

    .box {
        max-width: 400px;
        margin: 2rem;
    }

    #tag-line {
        font-size: 140%;
    }

    #scooter-icon {
        width: 400px;
        padding-left: 30px;

    }

    .flex-start,
    .flex-end {
        font-size: 130%;
    }

    /*meet us page*/
    .meet-img {
        max-width: 50%;
        margin-top: 45px;
    }

    #monday,
    #wednesday {
        width: 550px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 150%;
    }

    .meet-heading {
        font-size: 160%;
        padding: 50px;
    }

    iframe {
        width: 850px;
        height: 550px;
    }

    /*contact us page */
    #contact-page {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border: 120px solid #FFCC7C;
        padding: 30px;
    }

    #open-letter {
        width: 80%;
    }
}

/* media query: tablets and larger (1200px and up) */
@media screen and (min-width: 1200px) {

    /*main*/
    .hero {
        height: 900px;
    }

    #hero-text {
        font-size: 290%;
    }

    .box {
        max-width: 500px;
    }

    #scooter-icon {
        width: 500px;
        padding-left: 30px;
    }

    #tag-line {
        font-size: 160%;
    }

    .flex-start,
    .flex-end {
        font-size: 150%;
    }

    /*meet us page*/
    iframe {
        width: 450px;
        height: 300px;
        padding: 5px;
    }

    #open-letter {
        width: 100%;
    }

    .flex {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 15px;
    }
}