@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,200;1,300;1,400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}

/* header*/
header {
    background-color: #C32F27;
    color: white;
    padding: 5px;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 6px;

}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    font-family: 'Bangers', cursive;
}

#menu {
    list-style-type: none;
    letter-spacing: 3px;
    font-size: 110%;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

/* nav bar for toggle*/
nav {
    position: absolute;
    background-color: #C32F27;
    width: 100%;
    left: 0;
    padding: 20px;
    display: none;
    top: 100%;
    text-align: center;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 30px;
    padding-right: 10px;
}

/* main content */
main {
    flex: 1 0 auto;
    margin-top: 98px;
    color: black;
}

/*footer*/


/* media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* header*/
    header {
        padding: 2rem 1rem 1rem 1rem;
    }

    h1 {
        font-size: 200%;
    }

    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 2rem;

    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 2rem;
        font-size: 110%;
    }

    .nav-toggle-label {
        display: none;
    }

    /* main content */
    main {
        margin-top: 140px;
    }
}



/* media query: tablets and larger (992px and up) */
@media screen and (min-width: 992px) {


    #logo {
        font-size: 300%;
        padding-left: 20px;
    }
}